<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liskovsoft.googleapi">
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- NOTE: use older api -->
    <uses-sdk tools:overrideLibrary="
        com.squareup.quickjs"/>
</manifest>
